/* ----- RESET ----- */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----- */

*, *::before, *::after {
  box-sizing: border-box;
}

img, svg {
  vertical-align: middle;
  max-width: 100%;
}

a, a:visited a:active {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button, textarea, select, input {
  font: inherit;
}

button:hover {
  cursor: pointer;
}

/* ----- */

@font-face {
  font-family: "inter";
  src: url(./fonts/Inter-Font/Inter-VariableFont_slnt\,wght.woff);
}

@font-face {
  font-family: "tiempos";
  src: url(./fonts/Tiempos-Font/TiemposHeadline-Regular.woff);
}

@font-face {
  font-family: "tiempos";
  src: url(./fonts/Tiempos-Font/TiemposHeadline-Medium.woff);
  font-weight: 300;
}

@font-face {
  font-family: "tiempos";
  src: url(./fonts/Tiempos-Font/TiemposHeadline-Light.woff);
  font-weight: 200;
}

:root {
  --primary-white-0: white;
  --primary-white-1: #fdfbf9;
  --primary-white-2: #dfd8d3;
  --primary-white-3: #f5efeb;

  --primary-grey-0: #5c5856;
  --primary-grey-1: #9c8881;
  --primary-grey-2: #1a1715;

  --accent-violet-300: #d1cae9;
  --accent-violet-400: #9484c6;
  --accent-violet-600: #4b2aad;
  --accent-violet-700: #37207e;
  --accent-violet-900: #201445;

  --inter-fallbacks: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --tiempos-fallbacks: Georgia, 'Times New Roman', Times, serif;
  
  --page-margin-l: 5rem;
  --page-margin-m: 2.5rem;
  --page-margin-s: 1.5rem;

  font-family: "inter", var(--inter-fallbacks);
  font-size: 18px;
  font-weight: 400;
  color: var(--primary-grey-0);
}

body {
  display: flex;
  flex-direction: column;
}

header, main, footer {
  width: 100%;
}

header, main {
  background-color: var(--primary-white-1);
}

header {
  position: fixed;
  top: 0;
  transition: background-color 1s ease-in-out, box-shadow 1s ease-in-out;
}

main {
  margin-top: calc(5rem - 1px);
}

footer {
  background-color: var(--primary-white-3);
}

footer a {
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

footer a:hover {
  color: var(--accent-violet-600);
}

h1, h2 {
  font-family: "tiempos", var(--tiempos-fallbacks);
  font-weight: 300;
  line-height: 1.3;
  color: var(--primary-grey-2);
}

h1 {
  font-size: clamp(2rem, 0.9173rem + 2.2556vw, 2.75rem);
}

h2 {
  font-size: clamp(1.3rem, 0.3292rem + 2.0225vw, 1.75rem);
}

.h2-larger {
  font-size: clamp(1.5rem, 0.7782rem + 1.5038vw, 2rem);
}

.h2-smaller {
  font-size: 1.1rem;
  font-weight: 400;
}

.dropdown-btn {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  height: fit-content;
}

.dropdown {
  display: flex;
  border: 1px solid var(--primary-white-2);
  position: absolute;
  padding: 1.5rem 0 3rem;
  border-radius: 0.5rem;
  background-color: var(--primary-white-0);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.dropdown ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 0.85rem;
  color: var(--primary-grey-0);
  margin-left: 1.5rem;
  padding-right: 3rem;
}

.dropdown ul:not(:last-child) {
  border-right: 1px solid var(--primary-white-2)
}

.dropdown a:hover {
  color: var(--accent-violet-600);
  cursor: pointer;
}

.dropdown-heading, .section-label, #menu-label {
  font-size: 0.65rem;
  letter-spacing: 2px;
  font-weight: 600;
  color: var(--primary-grey-1);
  text-transform: uppercase;
}

.hover-affected {
  transition: background-color 0.25s ease, border-color 0.25s ease;
  background-color: transparent;
  padding: 0.75rem;
  border-radius: 1.5rem;
  border: 0.25rem solid transparent !important;
  box-sizing: border-box;
  color: var(--primary-grey-2);
}

.hover-affected:hover {
  background-color: var(--primary-white-3);
}

.main-content-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}

.main-content-section > * {
  flex-basis: 50%;
  flex-grow: 1;
}

.main-content-section > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.main-content-section:first-child img {
  border-radius: 0.5rem;
}

.main-paragraph {
  line-height: 1.9;
  margin-top: -0.5rem;
}

.section-label {
  margin-bottom: -0.4rem;
}

.section-link {
  font-weight: 600;
  color: var(--accent-violet-600);
  margin-top: 0.5rem;
}

.section-link span {
  transition: margin-left 0.15s ease-in-out;
}

.lvl-2-content-container {
  padding: 0 clamp(0rem, -7.2180rem + 15.0376vw, 5rem);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.feature-icon {
  height: 3rem;
  width: 3rem;
}

.features-list {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin-top: 4rem;
}

.feature {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-basis: calc(100% / 3);
  flex-grow: 1;
  align-items: center;
  text-align: center;
}

.feature-info {
  font-size: 0.85rem;
  line-height: 1.7;
}

.review {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 0 clamp(0rem, -26.6772rem + 37.9747vw, 7.5rem);
  text-align: center;
}

.review img {
  height: 1.25rem;
}

.review-quote {
  font-family: "tiempos", var(--tiempos-fallbacks);
  font-weight: 200;
  color: var(--primary-grey-2);
  font-size: 1.2rem;
  line-height: 1.7;
}

.footer-list-items, .footer-list {
  display: flex;
  gap: 1rem;
}

.footer-list-heading {
  color: var(--primary-grey-2);
  font-weight: 600;
}

.footer-chevron {
  display: none;
}

.site-credits {
  font-size: 0.9rem;;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

#header-content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem var(--page-margin-l);
  max-width: 1440px;
  margin: 0 auto;
}

#main-content-container {
  padding: 0 var(--page-margin-l);
  max-width: 1440px;
  display: flex;
  gap: 5rem;
  flex-direction: column;
  margin: 5rem auto;
}

#footer-content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3rem;
  padding: var(--page-margin-l);
  margin: 0 auto;
  max-width: 1440px;
}

#footer-content-container > ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#main-nav, #side-nav, nav > ul {
  display: flex;
  align-items: center;
}

#side-nav {
  gap: 0.5rem;
}

#logo {
  width: 4.5rem;
  margin-top: -2px;
  margin-right: 1.5rem;
  padding: 0;
}

#menu-label, #open-menu, #signup-mobile {
  display: none;
}

#signup-banner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  background-color: var(--accent-violet-900);
  padding: 4rem 5rem 3rem;
  border-radius: 0.5rem;
  text-align: center;
}

#signup-banner h2 {
  color: var(--primary-white-0);
}

#signup-banner p {
  color:var(--accent-violet-300);
}

/* ----- UTILITY ----- */

.cursor-pointer:hover { cursor: pointer; }

.button-dark {
  padding: 1rem;
  border-radius: 1.5rem;
  border: none;
  background-color: var(--accent-violet-600);
  color: var(--primary-white-0);
  font-weight: 600;
  transition: background-color 0.25s ease;
  text-align: center;
}

.button-dark:hover { background-color: var(--accent-violet-700); }

.button-light {
  padding: 1rem;
  border-radius: 1.5rem;
  border: none;
  background-color: var(--accent-violet-400);
  color: var(--primary-white-0);
  font-weight: 600;
  transition: background-color 0.25s ease;
  text-align: center;
}

.button-light:hover { background-color: var(--accent-violet-600); }

.icon {
  height: 1rem;
  width: 1rem;
}

.icon:hover { cursor: pointer; }

.header-chevron, .footer-chevron {
  transition: transform ease 0.3s;
}

.fill-dark {
  fill: var(--accent-violet-700) !important;
}

#logo * {
  fill: var(--accent-violet-600);
  transition: fill 0.25s ease;
}

.dropdown-btn-border {
  border-color: var(--accent-violet-300) !important;
  background-color: var(--primary-white-3) !important;
}

.display-none {
  display: none !important;
}

.rotate-180 {
  transform: rotate(180deg);
}

.display-flex {
  display: flex !important;
}

.header-contrasting {
  background-color: var(--primary-white-0) !important;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px !important;
}

.color-dark {
  color: var(--accent-violet-700) !important;
}

.margin-small {
  margin-left: 0.2rem;
}

/* ----- MEDIA QUERIES ----- */

@media screen and (max-width: 1124px) {

  nav {
    z-index: 10;
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--primary-white-0);
    border: 1px solid var(--primary-white-2);
    border-radius: 0.5rem;
    max-height: 95vh;
    width: calc(100% - 1rem);
    top: 0.5rem;
    left: 0.5rem;
    overflow-y: scroll;
  }

  nav > ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 4rem 1.25rem 1.25rem;
    background: transparent;
  }

  nav li {
    width: 100%;
  }

  nav button {
    font-family: "tiempos", var(--tiempos-fallbacks);
    font-size: 1.25rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-white-0);
    padding: 0;
    border: none;
    min-height: 3rem;
  }

  nav button:hover {
    color: var(--accent-violet-600);
  }

  .dropdown {
    position: relative;
    box-shadow: none;
    border: none;
    padding: 0;
    margin: 1rem 0 1.75rem;
    flex-direction: column;
  }

  .dropdown ul {
    padding-right: 0;
    margin: 0;
  }

  .dropdown ul:not(:last-child) {
    padding-bottom: 1.25rem;
    border-bottom: 1px solid var(--primary-white-2);
  }

  .dropdown ul:not(:first-child) { margin-top: 1.25rem; }

  .dropdown ul:first-child { border-right: none; }

  .review-quote {
    font-size: 1rem;
  }
  
  .footer-list {
    flex-direction: column;
  }
  
  .footer-list-heading {
    font-family: "tiempos", var(--tiempos-fallbacks);
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-list-heading:hover {
    cursor: pointer;
    color: var(--accent-violet-600)
  }

  .footer-chevron {
    display: block;
  }
  
  .footer-list-items {
    flex-direction: column;
    gap: 1.5rem;
    display: none;
  }

  #header-content-container { padding: 1rem var(--page-margin-m); }

  #main-content-container {
    padding: 0 var(--page-margin-m);
    margin: 2.5rem 0;
  }

  #footer-content-container {
    padding: 4rem var(--page-margin-m);
  }

  #side-nav {
    gap: 0;
  }

  #footer-content-container > ul {
    width: 100%;
  }

  #open-menu {
    display: flex;
  }

  #open-menu svg {
    width: 1rem;
    height: 1rem;
  }

  #menu-label svg {
    width: 1rem;
    height: 1rem;
  }

  #menu-label {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: calc(0.5rem + 1px);
    left: calc(0.5rem + 1px);
    align-items: center;
    padding: 1.5rem 1.25rem;
    border-radius: 0.5rem;
    background-color: var(--primary-white-0);
    width: calc(100% - 1rem - 2px);
    z-index: 1000;
  }

  #signup-desktop { display: none; }

  #signup-mobile {
    display: flex;
    margin-top: 1rem;
  }

  #signup-mobile * {
    width: 100%;
  }

  #signup-banner {
    padding: 2.5rem;
  }

}


@media screen and (max-width: 768px) {

  .main-content-section {
    flex-direction: column-reverse;
  }

  .features-list {
    flex-direction: column;
    gap: 4rem;
  }

  #header-content-container {
    padding: 1rem var(--page-margin-s);
  }
  
  #main-content-container {
    padding: 0 var(--page-margin-s);
  }

  #footer-content-container {
    padding: 4rem var(--page-margin-s);
  }

  #signup-banner {
    padding: 1.5rem 2.5rem;
  }

}


@media screen and (max-width: 425px) {

  :root {
    font-size: 16px;
  }

  #signup-banner {
    padding: 1.5rem;
  }

}