/* ----- RESET ----- */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----- */

*, *::before, *::after {
  box-sizing: border-box;
}

img, svg {
  vertical-align: middle;
}

a, a:visited a:active {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button, textarea, select, input {
  font: inherit;
}

button {
  cursor: pointer;
}

/* ----- */

@font-face {
  font-family: "tiempos";
  src: url(./fonts/Tiempos-Font/TiemposHeadline-Regular.otf);
}

@font-face {
  font-family: "inter";
  src: url(./fonts/Inter-Font/Inter-VariableFont_slnt\,wght.ttf);
}

:root {
  --primary-white-0: white;
  --primary-white-1: #fdfbf9;
  --primary-white-2: #dfd8d3;
  --primary-white-3: #f5efeb;
  --primary-grey-0: #5c5856;
  --primary-grey-1: #1a1715;
  --accent-violet-100: #f5efeb;
  --accent-violet-300: #d1cae9;
  --accent-violet-400: #9484c6;
  --accent-violet-600: #4b2aad;
  --accent-violet-700: #37207e;
  --accent-violet-900: #201445;

  font-family: "inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--primary-grey-1);
  font-size: 18px;
}

body {
  min-height: 100vh;
}

/* ----- UTILITY ----- */

.cursor-pointer:hover {
  cursor: pointer;
}

.button-dark {
  padding: 1rem;
  border-radius: 1.5rem;
  border: none;
  background-color: var(--accent-violet-600);
  color: var(--primary-white-0);
  font-weight: 600;
  transition: background-color 0.25s ease;
  text-align: center;
}

.button-dark:hover {
  background-color: var(--accent-violet-700);
}

.icon {
  height: 100%;
  width: 1rem;
  transition: transform ease 0.3s;
}

.icon:hover {
  cursor: pointer;
}

/* ----- JS / CSS ----- */

.logoDarken {
  fill: var(--accent-violet-700) !important;
}

.logoPath {
  fill: var(--accent-violet-600);
  transition: fill 0.25s ease;
}

.hoverItemBorder {
  border-color: var(--accent-violet-300) !important;
  background-color: var(--primary-white-3) !important;
}

.viewHidden {
  display: none !important;
}

.rotate180 {
  transform: rotate(180deg);
}

.flexDisplay {
  display: flex !important;
}

/* ----- */

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--primary-white-1);
}

#banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  max-width: 1440px;
  margin: 0 auto;
}

#main-nav, #side-nav, nav > ul {
  display: flex;
  align-items: center;
}

#side-nav {
  gap: 0.5rem;
}

#logo {
  width: 4.5rem;
  margin: -3px 1.5rem 0;
  padding: 0;
}

#menu {
  display: none;
}

#menu-label {
  display: none;
}

.dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  height: fit-content;
}

.hover-item {
  transition: background-color 0.25s ease, border-color 0.25s ease;
  padding: 0.75rem;
  border-radius: 1.5rem;
  border: 0.25rem solid transparent;
  outline: none;
  box-sizing: border-box;
  background-color: transparent;
}

.hover-item:hover {
  background-color: var(--primary-white-3);
}

.drop-content {
  display: flex;
  border: 1px solid var(--primary-white-2);
  position: absolute;
  padding: 1.5rem 0 3rem;
  border-radius: 0.5rem;
  background-color: var(--primary-white-0);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.drop-content ul:not(:last-child) {
  border-right: 1px solid var(--primary-white-2)
}

.drop-content ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 0.85rem;
  color: var(--primary-grey-0);
  margin-left: 1.5rem;
  padding-right: 3rem;
}

.drop-content li:not(:first-child):hover {
  color: var(--accent-violet-600);
  cursor: pointer;
}

.drop-subh {
  font-size: 0.8em;
  font-weight: 600;
}

.side-nav-hover-items {
  transition: background-color 0.25s ease, border-color 0.25s ease;
  padding: 0.75rem;
  border-radius: 1.5rem;
  border: 0.25rem solid transparent;
  outline: none;
  box-sizing: border-box;
  background-color: transparent;
}

.side-nav-hover-items:hover {
  background-color: var(--primary-white-3);
}

#signup__mobile {
  display: none;
}

/* ----- MEDIA QUERIES ----- */

@media screen and (max-width: 1124px) {
  #banner {
    padding: 1rem;
  }

  #menu {
    display: flex;
  }

  #menu svg {
    width: 1rem;
    height: 1rem;
  }

  #close-menu {
    width: 1rem;
    height: 1rem;
  }

  #menu-label {
    display: none;
    justify-content: space-between;
    position: fixed;
    top: calc(0.5rem + 1px);
    left: calc(0.5rem + 1px);
    align-items: center;
    font-size: 0.8em;
    font-weight: 600;
    padding: 1.5rem 1.25rem;
    border-radius: 0.5rem;
    color: var(--primary-grey-0);
    background-color: var(--primary-white-0);
    width: calc(100% - 1rem - 2px);
    z-index: 1000;
  }

  #signup__desktop { display: none; }
  #signup__mobile {
    display: flex;
    margin-top: 1rem;
  }

  #signup__mobile * {
    width: 100%;
  }
  
  nav {
    z-index: 10;
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--primary-white-0);
    border: 1px solid var(--primary-white-2);
    border-radius: 0.5rem;
    max-height: 95vh;
    width: calc(100% - 1rem);
    top: 0.5rem;
    left: 0.5rem;
    overflow-y: scroll;
  }

  nav > ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 4rem 1.25rem 1.25rem;
    background: transparent;
  }

  nav li {
    width: 100%;
  }

  #side-nav {
    gap: 0;
  }

  .hover-item {
    font-family: "tiempos", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.25rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    border: none;
    min-height: 3rem;
  }

  .hover-item:hover {
    background-color: transparent;
    color: var(--accent-violet-600);
  }

  .drop-content {
    position: static;
    box-shadow: none;
    border: none;
    padding: 0;
    margin: 1rem 0 1.75rem;
    flex-direction: column;
  }

  .drop-content ul {
    padding-right: 0;
    margin: 0;
  }

  .drop-content ul:not(:last-child) {
    padding-bottom: 1.25rem;
    border-bottom: 1px solid var(--primary-white-2);
  }
  .drop-content ul:not(:first-child) { margin-top: 1.25rem; }
  .drop-content ul:first-child { border-right: none;}
}

@media screen and (max-width: 425px) {
  :root {
    font-size: 16px;
  }

  #banner {
    padding: 1rem 1rem;
  }

  #logo {
    margin: -2px 1rem 0;
  }

}